@import "common";
@import "modal";

$border-color:#d1d1d1;
$font-size:14px;
$primary-color:#53bbff;
$cancel-btn-color:#eee;
$icon-add-bg:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAM1BMVEUAAABEtf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf////8TFlsEAAAAD3RSTlMA4/CzeWsRCPrTIfPYyhwT6Dm9AAAAgElEQVQoz4WSVxKAIAxEDUWKZb3/aUUJo/T3uW8mhCTLjFVLstsu9ZrFRgkwQpkv9w4/nE/5Scigk+scKDhiNQXmusCotx9RC/H0plEL6CBkS8ggqCUoCBuzRLQ2iK0n9map7uPddrsfHI1kMQ4FzvA6yrH78aLq1dbHYOk5hgk3VzkViX+lHN0AAAAASUVORK5CYII=) 0 0 no-repeat;
$icon-add-hover-bg:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAM1BMVEVEtf8AAABEtf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf9Etf/////i0aIxAAAAEHRSTlPMAMC1Vg4GqY8YYWKtoo4dKtwo+AAAAINJREFUKM+F0tsSgyAMRdFjAuGiVv//a5vWMCqScT+6ZgQCmJwaxJAZtOQQbyCVYNEsJ5SES6k0KIxbXA6QFV2r/KHC2ndY9QeRnkBRIeAJCAqfEWQFHgEr2LeWqQJ5sDi/chb3t+sf0B/JJAldSY6xb/3Yt5eL0mQeX217DODrY3D6Ak+fBVq0cBURAAAAAElFTkSuQmCC) 0 0 no-repeat;


.terminal-select {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  min-height: 200px;
  overflow: auto;
  border:1px solid $border-color;
  border-radius: 3px;

  .ts-select-item{
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #eee;
  }
  .ts-icon-more {
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 4px;
    width: 24px;
    height: 24px;
    background: $icon-add-bg;
    &:hover{
      background-color: $icon-add-hover-bg;
    }
  }
  .ts-btn{
    height: 32px;
    display: inline-block;
    font-size: $font-size;
    text-align: center;
    vertical-align: 0;
    line-height: 32px;
    border:0;
    border-radius: 3px;
    outline: none;
  }
  .ts-btn-primary{
    background-color: $primary-color;
    color: white;
  }
  .ts-btn-cancel{
    background-color: #eee;
    color:RGBA(0,0,0,0.8);
  }

  .ts-choose-list {
    margin: 20px 0 ;
    .ts-add-input-box{
      position: relative;
      display: inline-block;
      width: 90%;
      input{
        width: 100%;
        padding: 0 5px;
        font-size: $font-size;
        &:focus{
          outline: none;
        }
      }
    }
    .ts-btn-confirm{
      display: inline-block;
      width: 8%;
    }
  }

}